{% extends 'base.html' %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height:85vh;">
  <form method="POST" class="bg-white shadow-lg rounded-4 p-5" style="width:420px;">
    {% csrf_token %}

    <h2 class="fw-bold text-center">Create Account</h2>

    {% for message in messages %}
      <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    <input class="form-control mb-3" name="username" placeholder="Username" required>
    <input type="email" class="form-control mb-3" name="email" placeholder="Email" required>
    <input type="password" class="form-control mb-4" name="password" placeholder="Password" required>

    <button class="btn btn-primary w-100 py-2">REGISTER</button>

    <p class="text-center mt-3">
      Already have an account? <a href="/login/">Login</a>
    </p>
  </form>
</div>

{% endblock %}
